<div class="container">

    <h2>Gym Devices</h2>

    <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
        <li data-option-value="*" class="active"><a href="/gym/gymadd">Create</a></li>
        <li data-option-value="*"><a href="/gym/gymread">Read</a></li>
        <li data-option-value=".logos"><a href="/gym/gymupdate">Update</a></li>
        <li data-option-value=".brands"><a href="/gym/gymdelete">Delete</a></li>
    </ul>

    <hr />
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row featured-boxes login">
				<div class="col-sm-6" style="float: .none; margin: 0 auto;">
					<div class="featured-box featured-box-secundary default info-content">
						<div class="box-content">
							<h4>Add a new Device</h4>
							<form action="" id="" method="post">
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Name of the Device</label>
											<input type="text" value="" class="form-control input-lg" name="name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Image of the Device</label>
											<input type="text" value="" class="form-control input-lg" name="image">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
									</div>
									<div class="col-md-6">
										<input type="submit" value="Add"
											class="btn btn-primary pull-right push-bottom"
											data-loading-text="Loading...">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 