<div class="container">

    <h2>Gym Devices</h2>

    <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
        <li data-option-value="*"><a href="/gym/gymadd">Create</a></li>
        <li data-option-value=".websites"><a href="/gym/gymread">Read</a></li>
        <li data-option-value=".logos"><a href="/gym/gymupdate">Update</a></li>
        <li data-option-value=".brands"><a href="/gym/gymdelete">Delete</a></li>
    </ul>

    <hr />
</div>